.np-bookmark-container{
    width:100%; max-width:420px; margin:10px auto; padding:0 var(--page-x);
    padding-bottom: var(--card-gap);
}
.is-web .np-bookmark-container {
    padding-bottom: calc(var(--card-gap) + var(--bottom-tab-bar-height));
}
/* 💡 앱 환경일 때 */
.is-app .np-bookmark-container {
    /*card gap + 80px (앱 하단바)*/
    padding-bottom: calc(var(--card-gap, 10px) + 80px);
}

.np-section-title {
    margin-left: 16px;
    margin-bottom: 10px;
}

.np-section {
    margin-bottom: 20px;
}

.np-card-tag.tabs {
    color: var(--aura-blue);
}